
  .main_index {
    display: flex;
    flex-direction: column;
  }
  
  .card {
    background-color: rgba(134, 56, 56, 0.9);
    color: white;
    width: auto;
    height: auto;
    padding: 16px 32px 32px 32px;
    margin: 0px 30px 20px 30px;
    border: 1px solid orange;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    border-radius: 10px;
    position: static;
    text-align: center;
    animation: fadein;
    animation-duration: 2s;

    &__conjunto {
      display: flex;
      justify-content: space-evenly;
    }

    &__imagen {
      width: 48%;
      height: auto;
      border: 1px solid orange;
      border-radius: 10px;
      margin-top: 10px;
      margin-bottom: 0;
    }
    
    &__titulo {
      color: white;
      text-align: center;
      font-style: normal;
      font-weight: bold;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 65px;
      margin-top: 0;
      margin-bottom: 25px;
      line-height: 1.5;
      text-transform: uppercase;
    }
    
    &__parrafo {
      text-align: justify;
      font-size: 25px;
      color: whitesmoke;
      font-style: normal;
      font-weight: normal;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      margin-top: 0;
      margin-bottom: 0px;
      line-height: 1.3;
    }
  }
  
