
  @media screen and (max-width: 1023px) {
    .header {
      justify-content: space-between;
      align-items: center;

      &__ul {
        color: black;
        font-size: 16px;
        font-style: normal;
        font-weight: bold;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        line-height: 0 2;
      }
    
      &__ul--li {
        display: inline-block;
        padding: 1rem 1rem 0px 1rem;
        margin: 0px;
        text-transform: uppercase;
        text-align: center;
      }
    
      &__ul--oculto {
        display: none;
      }
    }
  
    main {
      grid-area: main;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 120px;
      margin-bottom: 90px;
    }
  
    .card {
      background-color: rgba(134, 56, 56, 0.9);
      color: white;
      width: auto;
      height: auto;
      padding: 20px 10px 20px 10px;
      margin: 5px 10px 5px 10px;
      border: 1px solid orange;
      overflow: none;
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      position: static;

      &__imagen {
        width: 100%;
        height: auto;
        border: 1px solid orange;
        border-radius: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
      }
    
      &__titulo {
        color: white;
        text-align: center;
        font-style: normal;
        font-weight: bold;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 33px;
        margin-bottom: 24px;
        text-transform: uppercase;
      }
    
      &__parrafo {
        text-align: justify;
        font-size: 18px;
        color: whitesmoke;
        font-style: normal;
        font-weight: normal;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    }
  
    .tarjeta {
      background-color: rgba(134, 56, 56, 0.9);
      color: white;
      width: auto;
      height: auto;
      padding: 2px 2px 2px 2px;
      margin: 0px 32px 32px 32px;
      border: 1px solid orange;
      overflow: hidden;
      border-radius: 10px;
      position: static;

      &__titulo {
        color: white;
        text-align: center;
        font-size: 35px;
        font-style: normal;
        font-weight: bold;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 0;
        text-transform: uppercase;
      }
    }
  
    .biografia {
      background-color: rgba(134, 56, 56, 0.9);
      color: white;
      width: auto;
      height: auto;
      padding: 0px 16px 16px 16px;
      margin: 5px 10px 5px 15px;
      border: 1px solid orange;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      position: static;
      text-align: center;
   
      &__titulo {
        color: white;
        text-align: center;
        font-style: normal;
        font-weight: bold;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 27px;
        margin-bottom: 20px;
        margin-top: 10px;
        text-transform: uppercase;
      }
    
      &__subtitulo {
        color: white;
        text-align: justify;
        font-style: normal;
        font-weight: bold;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 22px;
        margin-bottom: 20px;
        text-transform: uppercase;
      }
    
      &__parrafo {
        text-align: justify;
        font-size: 18px;
        color: whitesmoke;
        font-style: normal;
        font-weight: normal;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 15px;
      }
    
      &__conjunto {
        display: inline-block;
        justify-content: none;
      }
    
      &__imagen {
        width: 100%;
        height: auto;
        border-radius: 10px;
        margin-top: 5px;
        border: 1px solid orange;
      }
    }

    .clubes {
      background-color: rgba(134, 56, 56, 0.9);
      color: white;
      width: auto;
      height: auto;
      padding: 0px 16px 16px 16px;
      margin: 5px 10px 5px 15px;
      border: 1px solid orange;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      position: static;
      text-align: center;
    }
  
    table {
      border-collapse: collapse;
      width: 100%;
      margin-bottom: 20px;
    }
  
    th {
      background-color: #333;
      font-size: 15px;
    }
  
    .table {
      background-color: rgba(134, 56, 56, 0.9);
      color: white;
      width: 90%;
      height: auto;
      padding: 16px 20px 32px 20px;
      margin: 5px 10px 20px 15px;
      border: 1px solid orange;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      position: static;
      text-align: center;

      &__subtitulo {
        color: white;
        text-align: center;
        font-style: normal;
        font-weight: bold;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 10px;
        margin-bottom: 20px;
        text-transform: capitalize;
        border: 1px solid black;
      }
    
      &__parrafo {
        text-align: center;
        font-size: 14px;
        color: whitesmoke;
        font-style: normal;
        font-weight: normal;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    }
  
    .galeria {
      background-color: rgba(134, 56, 56, 0.9);
      color: white;
      width: 90%;
      height: auto;
      padding: 0px 16px 16px 16px;
      margin: 5px 10px 5px 15px;
      border: 1px solid orange;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      position: static;
      text-align: center;
        
      &__subtitulo {
        color: white;
        text-align: center;
        font-style: normal;
        font-weight: bold;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 20px;
        text-transform: uppercase;
      }
    
      &__video {
        justify-content: center;
        align-content: center;
      }
    
      &__video--yt {
        width: 560px;
        height: 315px;
      }
    
      &__imagen {
        width: 45%;
        height: 50%;
        border-radius: 10px;
        border: 1px solid orange;
        margin-left: none;
        margin-bottom: none;
      }
    }
  
    .contacto {
      background-color: rgba(134, 56, 56, 0.9);
      color: white;
      width: auto;
      height: auto;
      padding: 0px 32px 32px 32px;
      margin: 0px 50px 0px 60px;
      border: 1px solid orange;
      border-radius: 10px;
      overflow: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;
      position: static;

      &_titulo {
        color: white;
        text-align: center;
        font-style: normal;
        font-weight: bold;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 35px;
        margin-bottom: 36px;
        text-transform: uppercase;
      }
    
      &__subtitulo {
        color: white;
        text-align: justify;
        font-style: normal;
        font-weight: bold;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        padding: 32px 0px 0px 0px;
        font-size: 25px;
        margin-bottom: 20px;
        text-transform: uppercase;
        overflow: hidden;
      }
    
      &__parrafo {
        text-align: justify;
        font-size: 18px;
        color: whitesmoke;
        font-style: normal;
        font-weight: normal;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 0px;
      }
    }
  
    input[type="text"] {
      width: 300px;
      padding: 4px 20px;
      margin: 8px 0;
      box-sizing: border-box;
    }
  
    input[type="email"] {
      width: 300px;
      padding: 4px 20px;
      margin: 8px 0;
      box-sizing: border-box;
    }
  
    input[type="password"] {
      width: 300px;
      padding: 4px 20px;
      margin: 8px 0;
      box-sizing: border-box;
    }
  
    button {
      border: none;
      padding: 8px 16px;
      text-decoration: none;
      cursor: pointer;
      border-radius: 6px;
      color: black;
      font-size: 18px;
      position: sticky;
    }
  
    textarea {
      vertical-align: top;
    }
  
    input[type="radio"] {
      width: 15px;
      padding: 4px 20px;
      margin: 8px 0;
      box-sizing: border-box;
    }
  
    .radio {
      padding-bottom: 5px;
    }
  
    .footer {
      grid-area: footer;
      background-color: aquamarine;
      width: 100%;
      display: flex;
      justify-content: space-between;
      bottom: 0;
      border: none;
      border-top: 1px solid orange;
      position: fixed;
      align-items: center;

      &__img {
        padding: 1px;
        display: inline;
      }
    
      &__ul {
        color: black;
        font-size: 15px;
        font-style: normal;
        font-weight: bold;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1, 2;
      }
    
      &__ul--li {
        display: inline-block;
        margin: 6px;
        text-transform: uppercase;
        text-align: center;
      }
    } 
  }
  
  @media screen and (max-width: 599px) {
    .header {
      justify-content: space-between;
      align-items: center;

      &__img {
        padding: 1px;
        display: inline;
      }
    
      .menu-mobile-icon {
        display: flex;
        margin-left: auto;
        font-size: 2.5rem;
      }
    
      &__ul {
        color: black;
        font-size: 20px;
        font-style: normal;
        font-weight: bold;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1, 4;
      }
    
      &__ul--li {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin: 6px;
        text-transform: uppercase;
        text-align: justify;
      }
    }
  
    .nav {
      display: none;
      background-color: aquamarine;
      border: 1px solid orange;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100000;
      width: 80%;
      height: 100vh;
    }
  
    .nav:target {
      display: block;
    }
  
    main {
      grid-area: main;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 110px;
      margin-bottom: 120px;
    }
  
    .card {
      background-color: rgba(134, 56, 56, 0.9);
      color: white;
      width: auto;
      height: auto;
      padding: 0px 16px 16px 16px;
      margin: 5px 10px 5px 15px;
      border: 1px solid orange;
      overflow: none;
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      position: static;

      &__imagen {
        width: 100%;
        height: auto;
        border: 1px solid orange;
        border-radius: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
      }
    
      &__titulo {
        color: white;
        text-align: center;
        font-style: normal;
        font-weight: bold;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 26px;
        margin-bottom: 24px;
        margin-top: 10px;
        text-transform: uppercase;
      }
    
      &__parrafo {
        text-align: justify;
        font-size: 13px;
        color: whitesmoke;
        font-style: normal;
        font-weight: normal;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    }
  
    .tarjeta {
      background-color: rgba(134, 56, 56, 0.9);
      color: white;
      width: 98%;
      height: auto;
      padding: 0px 4px 4px 4px;
      margin: 5px 0px 5px 0px;
      border: 1px solid orange;
      overflow: hidden;
      border-radius: 10px;
      position: static;

      &__titulo {
        color: white;
        text-align: center;
        font-size: 28.5px;
        font-style: normal;
        font-weight: bold;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 0;
        text-transform: uppercase;
      }
    }

    .biografia {
      background-color: rgba(134, 56, 56, 0.9);
      color: white;
      width: auto;
      height: auto;
      padding: 0px 16px 16px 16px;
      margin: 5px 10px 5px 15px;
      border: 1px solid orange;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      position: static;
      text-align: center;

      &__titulo {
        color: white;
        text-align: center;
        font-style: normal;
        font-weight: bold;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 22px;
        margin-bottom: 20px;
        margin-top: 10px;
        text-transform: uppercase;
      }
    
      &__subtitulo {
        color: white;
        text-align: justify;
        font-style: normal;
        font-weight: bold;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 19px;
        margin-bottom: 20px;
        text-transform: uppercase;
      }
    
      &__parrafo {
        text-align: justify;
        font-size: 14px;
        color: whitesmoke;
        font-style: normal;
        font-weight: normal;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 15px;
      }
    
      &__imagen {
        width: 100%;
        height: auto;
        border-radius: 10px;
        margin-top: 5px;
        border: 1px solid orange;
      }
    }
  
    .clubes {
      background-color: rgba(134, 56, 56, 0.9);
      color: white;
      width: auto;
      height: auto;
      padding: 0px 16px 16px 16px;
      margin: 5px 10px 5px 15px;
      border: 1px solid orange;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      position: static;
      text-align: center;
    }
  
    table {
      border-collapse: collapse;
      width: 100%;
      margin-bottom: 20px;
    }
  
    th {
      background-color: #333;
      font-size: 13px;
    }
  
    .table {
      background-color: rgba(134, 56, 56, 0.9);
      color: white;
      width: 92%;
      height: auto;
      padding: 0px 3px 3px 3px;
      margin: 5px 10px 5px 15px;;
      border: 1px solid orange;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      position: static;
      text-align: center;

      &__subtitulo {
        color: white;
        text-align: center;
        font-style: normal;
        font-weight: bold;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 10px;
        margin-bottom: 20px;
        text-transform: capitalize;
        border: 1px solid black;
      }
    
      &__parrafo {
        text-align: center;
        font-size: 12px;
        color: whitesmoke;
        font-style: normal;
        font-weight: normal;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    }

    .galeria {
      background-color: rgba(134, 56, 56, 0.9);
      color: white;
      width: auto;
      height: auto;
      padding: 0px 16px 16px 16px;
      margin: 5px 10px 5px 15px;
      border: 1px solid orange;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      position: static;
      text-align: center;

      &__subtitulo {
        color: white;
        text-align: center;
        font-style: normal;
        font-weight: bold;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
        margin-top: 5px;
        margin-bottom: 15px;
        text-transform: uppercase;
      }
    
      &__video {
        justify-content: center;
        align-content: center;
      }
    
      &__video--yt {
        width: 249px;
        height: 149px;
      }
    
      &__imagen {
        width: 90%;
        height: 50%;
        border-radius: 10px;
        border: 1px solid orange;
        margin-left: none;
        margin-bottom: none;
        position: sticky;
      }
    }

    .contacto {
      background-color: rgba(134, 56, 56, 0.9);
      color: white;
      width: auto;
      height: auto;
      padding: 0px 1rem 1rem 1rem;
      margin: 10px 10px 165px 10px;
      border: 1px solid orange;
      border-radius: 10px;
      overflow: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;
      position: static;

      &__titulo {
        color: white;
        text-align: center;
        font-style: normal;
        font-weight: bold;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 35px;
        margin-bottom: 36px;
        text-transform: uppercase;
      }
    
      &__subtitulo {
        color: white;
        text-align: justify;
        font-style: normal;
        font-weight: bold;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        padding: 16px 0px 0px 0px;
        font-size: 20px;
        margin-bottom: 20px;
        text-transform: uppercase;
        overflow: hidden;
      }
    
      &__parrafo {
        text-align: justify;
        font-size: 15px;
        color: whitesmoke;
        font-style: normal;
        font-weight: normal;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 0;
      }
    }
  
    input[type="text"] {
      width: 250px;
      padding: 4px 20px;
      margin: 8px 0;
      box-sizing: border-box;
    }
  
    input[type="email"] {
      width: 250px;
      padding: 4px 20px;
      margin: 8px 0;
      box-sizing: border-box;
    }
  
    input[type="password"] {
      width: 250px;
      padding: 4px 20px;
      margin: 8px 0;
      box-sizing: border-box;
    }
  
    button {
      border: none;
      padding: 8px 16px;
      text-decoration: none;
      cursor: pointer;
      border-radius: 6px;
      color: black;
      font-size: 15px;
      position:inherit;
    }
  
    textarea {
      vertical-align: top;
    }
  
    input[type="radio"] {
      width: 15px;
      padding: 4px 20px;
      margin: 8px 0;
      box-sizing: border-box;
    }
  
    .radio {
      padding-bottom: 5px;
    }
  
    .footer {
      grid-area: footer;
      background-color: aquamarine;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      bottom: 0%;
      border: none;
      border-top: 1px solid orange;
      position: static;
      align-items: center;

      &__img {
        padding: 1px;
        display: block;
      }
    
      &__ul {
        color: black;
        font-size: 10px;
        font-style: normal;
        font-weight: bold;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1;
        align-items: center;
      }
    
      &__ul--li {
        display: flex;
        text-transform: uppercase;
        text-align: justify;
      }
    }
  }
  